<ng-container *ngIf="!(isFetching$ | async); else loadingSpinner">
  <section *ngIf="(post$ | async) as post; else notFound">
    <h2 [innerHTML]="post.title.rendered"></h2>
    <p class="post-detail__category">
      {{ post.acf.page.post_title }}
      <span *ngIf="post.acf.schlagworte.length" class="post-detail__category__tags">
        – <span *ngFor="let tag of post.acf.schlagworte">{{ tag.name }}</span>
      </span>
    </p>

    <app-showcase
      [type]="post.acf.showcaseFormat"
      [image]="post.acf.showcase"
      [video]="post.acf.youtube"
    ></app-showcase>
    <p [innerHTML]="post.acf.beschreibung"></p>

    <h3>Steckbrief</h3>
    <app-briefing [data]="post.acf"></app-briefing>

    <h3 *ngIf="post.acf.galerie.length">Galerie</h3>
    <img
      *ngFor="let image of post.acf.galerie"
      [src]="image.sizes.medium"
      [alt]="image.alt || image.title || image.name || ''"
      [width]="image.sizes['medium-width']"
      [height]="image.sizes['medium-height']"
    />

    <footer class="post-detail__footer">
      <button type="button" (click)="toTop()">Nach oben</button>
    </footer>
  </section>
</ng-container>

<ng-template #notFound>
  <p class="post-detail__status-msg">
    Projekt mit ID »{{ rawId }}« nicht gefunden.
    <span style="font-style: normal;" role="img" aria-label="Sad cat">😿</span>
  </p>
</ng-template>

<ng-template #loadingSpinner>
  <p class="post-detail__status-msg">Wird geladen... <app-loading-spinner></app-loading-spinner></p>
</ng-template>
