section p {
  display: inline;
}

a {
  margin-left: 1em;
}

.post-master__status-msg {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
}

.post-master__footer {
  border-top: none;
  text-align: center;
  margin-top: 2rem;
}
