<table>
  <tbody>
    <tr>
      <td>Kategorie:</td>
      <td [innerHTML]="data.modul.name"></td>
    </tr>
    <tr>
      <td>Semester:</td>
      <td>
        <span *ngFor="let s of data.semester" [innerHTML]="s.name + '<br>'"></span>
      </td>
    </tr>
    <tr>
      <td>Erstellunsjahr:</td>
      <td [innerHTML]="data.erstellungsjahr"></td>
    </tr>
    <tr>
      <td>{{ data.studierende.length > 1 ? 'Studierende' : 'Student*in' }}:</td>
      <td>
        <span *ngFor="let s of data.studierende" [innerHTML]="s.name + '<br>'"></span>
      </td>
    </tr>
    <tr>
      <td>{{ data.dozierende.length > 1 ? 'Dozierende' : 'Dozent*in' }}:</td>
      <td>
        <span *ngFor="let d of data.dozierende" [innerHTML]="d.name + '<br>'"></span>
      </td>
    </tr>
  </tbody>
</table>
