<table>
  <tbody>
    <tr>
      <th scope="row">Kategorie:</th>
      <td [innerHTML]="data.topic.name"></td>
    </tr>
    <tr>
      <th scope="row">Semester:</th>
      <td>
        <span *ngFor="let s of data.semester" [innerHTML]="s.name + '<br>'"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">Erstellunsjahr:</th>
      <td [innerHTML]="data.year"></td>
    </tr>
    <tr>
      <th scope="row">{{ data.students.length > 1 ? 'Studierende' : 'Student*in' }}:</th>
      <td>
        <span *ngFor="let s of data.students" [innerHTML]="s.name + '<br>'"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">{{ data.lecturers.length > 1 ? 'Dozierende' : 'Dozent*in' }}:</th>
      <td>
        <span *ngFor="let d of data.lecturers" [innerHTML]="d.name + '<br>'"></span>
      </td>
    </tr>
  </tbody>
</table>
