app-top-navigation,
main,
footer {
  padding: 0 1rem;
  box-sizing: border-box;
  /* Fix content shift caused by scroll bar hiding and appearing */
  padding-left: calc(100vw - 100% + 1rem);
}

app-top-navigation {
  position: relative;
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Selector for current active route (the element immediately after router-outlet) */

router-outlet::ng-deep + * {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
  text-align: center;
}

footer p {
  max-width: 800px;
  margin: 3rem auto;
  border-top: 2px solid;
  padding-top: 1em;
}
