app-top-navigation,
main {
  padding: 0 1rem;
  box-sizing: border-box;
  /* Fix content shift caused by scroll bar hiding and appearing */
  padding-left: calc(100vw - 100% + 1rem);
}

app-top-navigation {
  position: relative;
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
}

:host-context(body.light) app-top-navigation {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}

/* Selector for current active route (the element immediately after router-outlet) */

router-outlet::ng-deep + * {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
